venv/
__pycache__/
*.pyc
.env
.idea/
.vscode/
.git/
.idea/
.vscode/

# Ignore documentation/environment
.env*
!.env.example
GCP_MIGRATION.md
README.md

# Ignore tests and scripts
test/
test_scraper_gn.py

# OS Artifacts
.DS_Store
Thumbs.db
